---
export const prerender = false;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { cats } from "../content/ascii/cats";
import { ArrayService } from "../services/array";

const cat = ArrayService.randomElement(cats);

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

type FunFact = [string, string];
const funFacts: FunFact[] = [
  ["Editor of choice", "GNU Emacs"],
  ["Favorite animal", "Cat  —  (•˕ •マ"],
  ["This site is built with", "Astro.js"],
  ["Favorite language", "Elixir"],
  ["Number of cats at home", "3"],
  ["Currently playing", "Hollow Knight: Silksong"],
  ["Favorite veggie burger", "Garten — Severna Park"],
  ["Residing in", "Washington, DC"],
  ["SSB64 main", "Yoshi"],
];
const funFact = ArrayService.randomElement(funFacts);
---

<Layout header={false}>
  <main class="pt-16">
    <section class="mb-8">
      <div class="flex items-end gap-4">
        <h1 class="whitespace-nowrap text-shadow-(--white-glow)">
          proteus softworks
        </h1>
        <pre
          class="ascii-cat tablet:text-xs text-[0.6rem] text-shadow-(--white-glow-lg)">{cat}</pre>
      </div>
      <p class="font-console">a.k.a. brandon wetzel</p>
      <dl class="mt-2 space-x-1 text-sm">
        <dt class="float-left font-bold">{funFact[0]}:</dt>
        <dd>{funFact[1]}</dd>
      </dl>
    </section>

    <hr class="my-4" />

    <section>
      <h3 class="underline">Latest Posts</h3>
      <ul>
        {
          posts.map((post) => (
            <a href={`/posts/${post.id}`}>
              <li class="mt-4">
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h5>{post.data.title}</h5>

                <p class="text-base-dim-content font-mono text-sm">
                  {"> "}
                  {post.data.description}
                </p>
              </li>
            </a>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
