---
export const prerender = false;

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { ArrayService } from "../services/array";

const regularPosts = await getCollection("posts");
const obsidianPosts = await getCollection("obsidianPosts");

const posts = [...regularPosts, ...obsidianPosts]
  .filter(
    (post) => post.data.updatedDate?.valueOf() || post.data.pubDate?.valueOf(),
  )
  .sort((a, b) => {
    const aDate = a.data.updatedDate?.valueOf() ?? a.data.pubDate?.valueOf();
    const bDate = b.data.updatedDate?.valueOf() ?? b.data.pubDate?.valueOf();

    return bDate! - aDate!;
  });

type FunFact = [string, string];
const funFacts: FunFact[] = [
  ["Editor of choice", "GNU Emacs"],
  ["Favorite animal", "Cat  —  (•˕ •マ"],
  ["This site is built with", "Astro.js"],
  ["Favorite language", "Elixir"],
  ["Number of cats at home", "3"],
  ["Currently playing", "Hollow Knight: Silksong"],
  ["Favorite veggie burger", "Garten — Severna Park"],
  ["Residing in", "Washington, DC"],
  ["SSB64 main", "Yoshi"],
];
const funFact = ArrayService.randomElement(funFacts);
---

<Layout header={false}>
  <main class="pt-16">
    <section class="mb-8">
      <div class="flex items-center gap-4">
        <img
          class="h-16 w-16 rounded-full"
          src="https://static.proteus.works/beanie.jpg"
        />
        <div>
          <h1 class="whitespace-nowrap">proteus softworks</h1>
          <div class="flex items-center gap-2">
            <p class="font-console whitespace-nowrap">a.k.a. brandon wetzel</p>
            <p class="font-console">|</p>

            <a
              href="https://github.com/mauzybwy"
              class="text-base-dim-content"
              target="_blank"
            >
              <Icon name="fa6-brands:github-alt" />
            </a>
            <a
              href="https://bsky.app/profile/mauzy.bababooey.world"
              class="text-base-dim-content"
              target="_blank"
            >
              <Icon name="fa6-brands:bluesky" />
            </a>
          </div>
        </div>
      </div>
      <dl class="mt-4 space-x-1 text-sm">
        <dt class="float-left font-bold">{funFact[0]}:</dt>
        <dd>{funFact[1]}</dd>
      </dl>
    </section>

    <hr class="my-4" />

    <section>
      <h3 class="underline">Latest Posts</h3>
      <ul>
        {
          posts.map((post) => (
            <a href={`/posts/${post.id}`}>
              <li class="mt-4">
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h5>{post.data.title}</h5>

                {post.data.description && (
                  <p class="text-base-dim-content font-mono text-sm">
                    {"> "}
                    {post.data.description}
                  </p>
                )}
              </li>
            </a>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
