---
export const prerender = false;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { cats } from "../content/ascii/cats";
import { ArrayService } from "../services/array";

const cat = ArrayService.randomElement(cats);

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

type FunFact = [string, string];
const funFacts: FunFact[] = [
  ["Editor of choice", "Emacs"],
  ["Favorite animal", "Cats"],
  ["This site is built with", "Astro.js"],
  ["Favorite language", "Elixir"],
];
const funFact = ArrayService.randomElement(funFacts);
---

<Layout>
  <main class="laptop:pt-32 tablet:pt-6 pt-4">
    <section class="mb-8">
      <div class="flex items-end gap-4">
        <h1 class="whitespace-nowrap">proteus softworks</h1>
        <pre class="ascii-cat">{cat}</pre>
      </div>
      <p class="font-console">a.k.a. brandon wetzel</p>
      <dl class="mt-2 space-x-1 text-sm">
        <dt class="float-left font-bold">{funFact[0]}:</dt>
        <dd>{funFact[1]}</dd>
      </dl>
    </section>

    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="mt-4">
              <a href={`/posts/${post.id}`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4>{post.data.title}</h4>
              </a>
              <p class="text-base-dim-content">{post.data.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
