---
export const prerender = true;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { cats } from "../content/ascii/cats";

const catIdx = Math.floor(Math.random() * cats.length);
const cat = cats[catIdx];

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <main class="laptop:pt-32 tablet:pt-6 pt-4">
    <section class="mb-8 flex items-end gap-4">
      <h1 class="whitespace-nowrap">proteus softworks</h1>
      <pre class="ascii-cat">{cat}</pre>
    </section>

    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="mt-4">
              <a href={`/posts/${post.id}`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4>{post.data.title}</h4>
              </a>
              <p class="text-base-dim-content">{post.data.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
